@font-face {
    font-family: 'Barlow';
    src: url('../font/Barlow-Bold.woff2') format('woff2'),
        url('../font/Barlow-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../font/Barlow-Regular.woff2') format('woff2'),
        url('../font/Barlow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces Soft';
    src: url('../font/FrauncesSoft-Black.woff2') format('woff2'),
        url('../font/FrauncesSoft-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
