.create-your-plan{
    width: 217px;
    background-color: $accent_color;
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    padding: 15px 31px 16px;
    border-radius: 6px;
    color: #FEFCF7;
}